ioun/src/main/resources/ContentManagement.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WotC.ContentManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WotC.ContentManagement" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="http://ioun.wizards.com/ContentVault.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WotC.ContentVault"/><xs:import schemaLocation="http://ioun.wizards.com/ContentVault.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="TooMuchContentFault"><xs:sequence><xs:element minOccurs="0" name="ContentType" type="xs:int"/><xs:element minOccurs="0" name="MaxAllowed" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="TooMuchContentFault" nillable="true" type="tns:TooMuchContentFault"/><xs:complexType name="TooMuchScratchFault"><xs:sequence><xs:element minOccurs="0" name="ContentType" type="xs:int"/><xs:element minOccurs="0" name="MaxAllowed" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="TooMuchScratchFault" nillable="true" type="tns:TooMuchScratchFault"/><xs:simpleType name="UserContentRights"><xs:restriction base="xs:string"><xs:enumeration value="Owner"/><xs:enumeration value="Observer"/><xs:enumeration value="Contributor"/></xs:restriction></xs:simpleType><xs:element name="UserContentRights" nillable="true" type="tns:UserContentRights"/><xs:complexType name="ContentNotFoundFault"><xs:sequence><xs:element minOccurs="0" name="ID" nillable="true" type="q1:ContentIdentifier" xmlns:q1="http://schemas.datacontract.org/2004/07/WotC.ContentVault"/><xs:element minOccurs="0" name="OwnerID" type="ser:guid"/></xs:sequence></xs:complexType><xs:element name="ContentNotFoundFault" nillable="true" type="tns:ContentNotFoundFault"/></xs:schema>